//Default color
$white: #ffffff;
$off-white: #f5f6f7;
$light-grey-bg: #fbfdff;
$very-dark-grey: #333333;
$light-grayish-blue: #f1f7fe;
$grey: #818181;
$black: #000000;
$very-ligh-grey: #c8c8c8;
$white-disabled: #e9ecee;
$BorderBlack: #100f0f;
$dark-grey: #777777;
$darkBrown: #444;
$lightgrey: #808080;
$scarlet: #f31700;
$grubbyRed: #d82a1b;
$grubbyRedOpacity40: #d82a1b66;
$sealBrown: #1b1616;
$whiteSmoke: #f3f3f3;
$scarlet-disable: #f4a6a8;
$disable: #d7d7d7;
$metallicSilver: #c4c4c4;
$regalBlue: #0f405c;
$smokyBlack: #100f0f;
$greyCloud: #b6b6b6;
$davy-grey: #555555;
$slate-light-grey: #999;
$light-bg-grey: #ededed;
$slate-grey: #666;
$text-grey: #6a7580;
$border-grey: #cbd4dd;
$light-grayish-blue1: #cbd4dd;
$goldenBell: #e28913;
$blueDress: #157dec;
$distantHorizan: #f1f8fa;
$geyser: #d4dfe2;
$hedgeGarden: #204c2c;
$darkGrayishBlue: #91989e;
$poblano: #04ad0a;
$lemonFilling: #f9e7a9;
$copyright-text-color: #3b5172;
$light-background-bg: #e8eef4;
$grubbyRedOpacity: #d82a1b0d;
$HeaderSpanTextColor: #f25d50;
$headerBgColor: #eff4f9;
$textGrayColor: #222;
$bodyBgColor: #eff4f9;
$dark-moderate-cyan: #36747f;
$boxgrayBg: #f2f6fa;
$borderBlueColor: #1a79e8;
$borderRightCol: #b1bcc7;
$disable-grey: #c0c0c0;
$boxgrayBg: #f2f6fa;
$gray: #e5e5e5;
$grapeFruit: #d82b1b;
$cyan-blue: #6a757f;
$light-red: #dd4437;
$light-blue: #fff8f7;
$light-blue-border: #d4e1ed;
$disable-bg-color: #b2b2b2;
$tooltip-border-color: #df9d3a;
$tooltip-bg-color: #fffbee;
$darkBlue: #0075e2;
$verylightGrey: #f4faff;
$chipSecondary: #eaf5f7;
$skeletonLightBg: #e0e0e0;
$lightGrubbyRed: #fcf5f5;
$lightPinkBgColor: #fff6f5;
$lightRedBg: #f6f6f6;
$successTextColor: #037c07;
$resubmitTextColor: #0c52a4;
$progressBackgroundColor: #d9d9d9;
$Honeydew: #f0fff0;
$lightMetalicGrey: #f7f7f7;
$silver: #cdcdcd;

//Primary Colours
$green: #267d00;
$buttonInactive: #818181;
$light-cyan: lightcyan;
$text-right: right;
$bamboo: #efebd6;
$border-radius2: 0.125;
$grey-opacity4: rgba(171, 183, 183, 1);
$dark-blue: blue;
$grey-opacity012: rgba(191, 191, 191, 1);
$gradient-bamboo: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.25),
    rgba(0, 0, 0, 0.25)
  ),
  $grubbyRed;
$blackOpacity40: rgb(0, 0, 0, 0.4);
$pampas-opacity08: rgba(220, 96, 9, 0.08);
$black-box-shadow: 0 0 1rem 0.063rem rgba(0, 0, 0, 0.1);
$box-shadow-mobile: 0px 0px 24px 4px rgba(154, 165, 176, 0.2);
$border-radius2: 0.125;
$black-box-shadow-mobile: 0px 0px 1.25rem 0.25rem rgba(154, 165, 176, 0.2);
$background-color-snow: #fbfbfb;
$greySmoke: #ebebeb;
$skeletonBgLight: #f6f7f8;
$skeletonBgDark: #edeef1;
$skeletonTransitionDuration1: 1s;
$skeletonTransitionDuration2: 2s;
$skeletonTransitionDuration3: 3s;
$bgWhiteOpacity: rgba(255, 255, 255, 0.97);

//box-shadow
$popper-container: 0rem 0rem 1.25rem 0rem rgba(154, 165, 176, 0.25);

//font-weight
$fontWeight300: 300;
$fontWeight400: 400;
$fontWeight500: 500;
$fontWeight600: 600;
$fontWeight700: 700;
$fontWeight800: 800;
$fontWeight900: 900;
